body {
  font-family: helvetica, arial, sans-serif;
}

::selection {
  background: yellow;
}

.body-link {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
  background-color: #FFFFFF;
  padding: 2px; 
}

.body-link:hover {
  color: #000;
  background-color: #FFA500;
  padding: 2px; 
}

#left-block{
  width: 50%; 
}

h1 {
  color: #000;
}

h2 {
  margin-bottom: 6;
}

body a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  background-color: #D3D3D3;
  padding: 6px 6px 6px 6px;
}

body a:hover {
  text-decoration: underline;
  color: #000;
}

.left-col {
  float: left;
  width: 30%;
}

.main-col {
  float: right;
  width: 60%;
}



* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
}

body{
   background-color: #FFFFFF;
}

.wrapper{
  display: flex;
  position: relative;
  margin-left: -25px;
  padding-right: 20px;
}

.wrapper .sidebar a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  background-color: #FFFFFF;
}

.wrapper .sidebar a: hover {
    text-decoration: underline;
	border-bottom: 20px; 
	color: green;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #FFA500;
}
 

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #FFFFFF;
  position: fixed;
}


.wrapper .sidebar ul li{
  padding: 5px;
}    

.wrapper .sidebar ul li a{
  color: #000;
}

.wrapper .sidebar ul li a .fas{
  width: 10px;
}

.wrapper .sidebar ul li:hover{
  background-color: #FFFFFF;
  text-decoration: underline;
  color: #000;
  background-color: #40E0D0;
  padding-top: -2px
}
} 

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

