body {
  font-family: helvetica, arial, sans-serif;
}

::selection {
  background: #decdb1;
}

.body-link {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
  background-color: none;
  padding: 2px;
}

.body-link:hover {
  color: #000;
  background-color: #c1bbc9;
  padding: 2px;
}

h1 {
  color: #000;
}

h2 {
  margin-bottom: 6;
}

h3 {
  padding-left: 0px;
}

body a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

body a:hover {
  text-decoration: underline;
  color: #000;
}

#right-block {
  width: 85%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
}

body {
  background-color: none;
}

#container{
	width: 100%;
}

#container #left{
	width: 10%;
	float:left ;
}

#container #right{
	width:90%;
	float:left;
}

.wrapper {
  display: flex;
  position: relative;
  margin-left: -150px;
}

.wrapper .sidebar {
  height: 100%;
  position: fixed;
}

.wrapper .sidebar h3 {
  color: #000;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 7px;
}

.wrapper .sidebar ul li a {
  color: #000;
}

.wrapper .sidebar a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}

.link-1:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #b8b1cc 50%);
  padding: 0px 5px 3px 0px;
}

#sidebarccarchives {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #b8b1cc 50%);
  padding: 0px 5px 3px 0px;
}


.link-2:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #fff09e 50%);
  padding: 0px 5px 3px 0px;
}

#sidebarasoulfulbody {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #fff09e 50%);
  padding: 0px 5px 3px 0px;
}

.link-3:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #d41759 50%);
  padding: 0px 5px 3px 0px;
}

#sidebarneareast {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #d41759 50%);
  padding: 0px 5px 3px 0px;
}

.link-4:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #decdb1 50%);
  padding: 0px 5px 3px 0px;
}

#sidebaraljiran {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #decdb1 50%);
  padding: 0px 5px 3px 0px;
}


.link-5:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #D3D3D3 50%);
  padding: 0px 5px 3px 0px;
}

#sidebardirges {
    text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #D3D3D3 50%);
  padding: 0px 5px 3px 0px;
}

.link-6:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #8db5ae 50%);
  padding: 0px 5px 3px 0px;
}

#sidebarabout {
    text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #8db5ae 50%);
  padding: 0px 5px 3px 0px;
}


.right_inner{
	padding: 0px;
	color: #000;
}

.title{
	padding-bottom: 15px;
	padding-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 0px;
}

.right_inner .li_wrap .date {
	margin-right: 30px;
    color: #000;
    font-weight: bold;
}


.right_inner .li_wrap .info_cont{
	margin-top: 0px;
}