body {
  font-family: helvetica, arial, sans-serif;
}

::selection {
  background: #decdb1;
}

.body-link {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
  background-color: none;
  padding: 2px;
}

.body-link:hover {
  color: #000;
  background-color: #c1bbc9;
  padding: 2px;
}

h1 {
  color: #000;
}

h2 {
  margin-bottom: 6;
}

h3 {
  padding-left: 0px;
}

body a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

body a:hover {
  text-decoration: underline;
  color: #000;
}

#right-block {
  width: 85%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
}

body {
  background-color: none;
}

.wrapper {
  display: flex;
  position: relative;
  margin-left: -150px;
}

.wrapper .sidebar {
  height: 100%;
  position: fixed;
}

.wrapper .sidebar h3 {
  color: #000;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 7px;
}

.wrapper .sidebar ul li a {
  color: #000;
}

.wrapper .sidebar a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}

a.link-1:hover, a.link-1:active {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #b8b1cc 50%);
  padding: 0px 5px 3px 0px;
}


a.link-2:hover, a.link-1:active {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #fff09e 50%);
  padding: 0px 5px 3px 0px;
}


.link-3:hover, .link-3:active {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #d41759 50%);
  padding: 0px 5px 3px 0px;
}


.link-4:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #decdb1 50%);
  padding: 0px 5px 3px 0px;
}

.link-4 a:active {
  text-decoration: none;
  background-color: linear-gradient(180deg, #FFF 50%, #decdb1 50%);
  padding: 0px 5px 3px 0px;
}

.link-5:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #D3D3D3 50%);
  padding: 0px 5px 3px 0px;
}

.link-5 a:active {
  text-decoration: none;
  background-color: linear-gradient(180deg, #FFF 50%, #D3D3D3 50%);
  padding: 0px 5px 3px 0px;
}

.link-6:hover {
  text-decoration: none;
  background: linear-gradient(180deg, #FFF 50%, #8db5ae 50%);
  padding: 0px 5px 3px 0px;
}

.link-6 a:active {
  text-decoration: none;
  background-color: linear-gradient(180deg, #FFF 50%, #8db5ae 50%);
  padding: 0px 5px 3px 0px;
}

a.link-6:active{
	background-color: linear-gradient(180deg, #FFF 50%, #8db5ae 50%);
}

a.link-6:visited{
	background-color: linear-gradient(180deg, #FFF 50%, #8db5ae 50%);
}